.main-header {
    height: 100vh;
}

/*div.container START*/
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-4,
.col-6,
.col-8 {
    height: 110px;
}

.col-6 {
    background-color: #6e3636;
}

.mint {
    background-color: #36E8B0;
}

.col-4.vertical-img {
    height: 220px;
    background-image: url(../images/person-1245959_640.jpg);
    background-size: cover;
    filter: brightness(79%);
}

.horizontal-img {
    padding-left: 0;
    padding-right: 0;
    background-image: url(../images/person-1245959_640.jpg);
    background-size: cover;
}

.mask {
    height: 100%;
    background-color: rgba(2, 21, 36, 0.5);
}

.text-light {
    margin: 0;
}

/*section.about START*/
.about {
    height: 70vh;
    background-color: black;
}
