/*header START*/
.main-header {
    height: 90vh;
}

.main-nav {
    margin-top: 10px;
    padding-right: 15px;
    text-align: right;
    font-family: 'Roboto Mono', monospace;
}

.main-nav__h {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.main-nav__h.h1 {
    font-size: 1.7rem;
}

.main-nav__h.h2 {
    font-size: 1.2rem;
}

.main-nav__h::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /*    background-color: rgba(52, 58, 64, 1);*/
    background-color: white;
    border-left: 1px solid black;
    animation: flashingCursor 0.7s linear infinite;
}

.main-nav__h.h1::after {
    animation: typing 4s steps(14) forwards;
}

.main-nav__h.h2::after {
    animation: typing 4s steps(19) forwards 4s;
}

@keyframes flashingCursor {
    0% {
        border-color: black;
    }

    50% {
        border-color: black;
    }

    65% {
        border-color: transparent;
    }

    75% {
        border-color: transparent;
    }

    90% {
        border-color: black;
    }

    100% {
        border-color: black;
    }
}

@keyframes typing {
    to {
        width: 0;
    }
}

/*div.container START*/
.container.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-4,
.col-6,
.col-8 {
    height: 110px;
}

.col-6 {
    background-color: #6e3636;
}

.mint {
    background-color: #36E8B0;
}

.col-4.vertical-img {
    height: 220px;
    background-image: url(../images/person-1245959_640.jpg);
    background-size: cover;
    filter: brightness(79%);
}

.horizontal-img {
    padding-left: 0;
    padding-right: 0;
    background-image: url(../images/person-1245959_640.jpg);
    background-size: cover;
}

.mask {
    height: 100%;
    background-color: rgba(2, 21, 36, 0.5);
}

.text-light {
    margin: 0;
}

/*section.about START*/
.section_about {
    display: none;
}

.section_about.on {
    display: block;
    margin-bottom: 15px;
    color: rgb(52, 58, 64);
}

.section_about__p {
    margin-bottom: 2rem;
    font-size: 18px;
}

.border-bottom {
    display: block;
}

.border-bottom-custom {
    border-image: linear-gradient(to right, #6e3636, #36E8B0) 1;
}

/*section.portfolio START*/
.section_portfolio {
    display: none;
}

.section_portfolio.on {
    display: block;
}

.portfolio_h3 {
    margin-bottom: 10px;
}

.portfolio_item__firstImg {
    width: 100%;
}

/*footer START*/
.footer-socialIcons {
    margin: 5px;
    text-align: right;
}

.socialIcons {
    display: inline-block;
    padding: 0 5px;
    background-color: #36E8B0;
    border-radius: 2px;
    color: black;
    font-size: 20px;
}
